# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "96c8b7b4314c4c84707850a684ec40fb"
name = "codeBlock"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""

[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]
